body {
	background: rgb(7, 10, 7);	
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.5em;
	font-size: max(16px, 1.3vw);
	color: rgb(225, 222, 213);
	margin: 0;
	padding: 4vw;
	overflow-x: hidden;
}

header {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
}

header > nav {
	display: flex;
	flex-direction: row;
}

.navigation {
	display: flex;
	flex-direction: row;
	margin: auto;
	font-size: max(16px, 2vw);
	width: 100%;
	padding: 2vw;
	padding-top: 4vw;
	justify-content: space-evenly;
	background-color:rgb(7, 10, 7, 0.9);
}

.navigation a {
	text-decoration: none;
	text-align: center;
	font-size: max(16px, 1.5vw);
	width: 33%;
}

.hamburger {
	display: none;
	cursor: pointer;
	padding: 2vw;
	padding-top: 4vw;
	margin: auto;
	margin-left: 0;
}

.hamburger .line {
	display: block;
	width: 30px;
	height: 5px;
	border-radius: 0.5vw;
	background-color: rgb(7, 10, 7);
}

.hamburger .line:first-of-type {
	margin-bottom: 5px;
}


/* Titles and other texts */

h1 {
	display: block;
	font-size: max(32px, 8vw);
	text-align: left;
	font-family: 'Times New Roman', serif;
	line-height: 110%;
}

h2 {
	font-size: max(24px, 4vw);
	font-family: 'Times New Roman', serif;
}

h3 {
	font-weight: normal;
	font-size: max(14px, 1.4vw);
}

h4 {
	font-size: max(10px, 1.2vw);
	font-weight: normal;
}

p {
	font-size: 16px;
}

a:visited, a, p, h1, h2, h3, h4 {
	color: rgb(225, 222, 213);
}

i {
	color: rgb(125, 189, 125);
}

/* Footer */

footer {
	width: 100%;
	font-size: 10px;
	margin: auto;
	padding: 2vw;
	bottom: 0;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

footer a {
	padding: 0 0.5vw;
}

footer p {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

footer a:visited {
	color: rgb(225, 222, 213);
}

@media screen and (max-width: 510px) {
	/* Navigation */
	.hamburger {
		display: unset;
	}

	.navigation {
		display: none;
	}

	.visible {
		display: flex;
	}
}