body {
	padding: 0;
}

h1 {
	text-align: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 1vh;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#landing {
	display: block;
	word-wrap: break-word;
	width: 60%;
	margin: auto;
	z-index: 0;
	position: fixed;
	height: 100vh;
	color: black;
	top: 0;
	padding: 0 20%;
	text-align: center;
	align-content: center;
}

#landing p:first-of-type {
	font-style: italic;
	margin: 0;
	opacity: 0;
	transition: opacity 2s;
}

#info-para {
	opacity: 0;
	transition: opacity 2s;
}
	
#socials {
	grid-area: socials;
	width: 100%;
	margin: auto;
	margin-top: 0;
}

.triangle-up {
	position: relative;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 8vw solid rgb(30, 50, 30);
	transform: translateY(2px);
	margin-top: 100vh;
}

#content {
	position: relative;
	padding: 0 10vw 1vw 10vw;
	border-top: 1vw solid rgb(7, 10, 7);
	background: rgb(7, 10, 7);
    color: rgb(225, 222, 213);
}

#space {
	position: relative;
	height: 5vw;
	background-image: linear-gradient(rgb(30, 50, 30), rgb(7, 10, 7));
	margin: 0;
	padding: 0;
}

main > h2 {
	padding-top: 10vh;
}

#skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	justify-content: left;
}

.skill {
	width: fit-content;
	padding: 0.5vw 1vw;
	margin: 0 2vw 2vw 0;
	text-align: center;
	background-color: rgba(68, 95, 68, 0.4);
	color: rgb(125, 189, 125);
	border: 0.15vw solid rgb(62, 85, 62);
	border-radius: 0.5vw;
	font-size: max(14px, 1.5vw);
}

#education {
	display: flex;
	flex-direction: column;
	padding: 0;
}

#education div {
	display: grid;
	grid-template-areas: "location date"
						 "title ."
						 "grades skillarea";
	background-color: rgb(10, 13, 10);
	color: rgb(165, 172, 165);
	border: 0.15vw solid rgb(25, 28, 25);
	border-radius: 0.5vw;
	margin: 2vw 0;
	padding: 1vw 2vw;
	width: fit-content;
	min-width: 45%;
	max-width: 94%;
}

#education h3 a {
	color: rgb(225, 222, 213);
	text-decoration: none;
	grid-area: location;
}

#education h4 {
	grid-area: title;
}

#grades {
	list-style: none;
	grid-area: grades;
	padding: 0.5vw 0;
	margin-top: 1vw;
	width: fit-content;
}

#education p, #grades {
	font-size: max(14px, 1vw);
}

#education p {
	padding: 0;
	margin: auto;
	margin-right: 0;
	font-size: max(14px, 0.8vw);
	width: fit-content;
	grid-area: date;
}

#educ-skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	list-style: none;
	height: fit-content;
	grid-area: skillarea;
}

#educ-skills li {
	padding: 0.5vw 1vw;
	margin: 0 1vw 1vw 0;
}

footer {
	position: relative;
	background: rgb(7, 10, 7);
    color: white;
	width: inherit;
	border-top: 1vw solid rgb(7, 10, 7);
}

footer a {
	color: white;
}

footer a:visited {
	color: white;
}

@media screen and (max-width: 900px) {
	#education h3 {
		line-height: 1em;
	}
}

@media screen and (max-width: 510px) {
	#education div {
	grid-template-areas: "location date"
						 "title ."
						 "grades grades"
						 "skillarea skillarea";
	}

	#educ-skills {
		padding: 2vw 0;
	}
}